@import 'tailwindcss';

/* Blade & JS scan (vite uchun) */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Theme */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* =================================================
   HERO SECTION
================================================= */

.hero-section {
    position: relative;
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 82%;
    overflow: hidden;
}


.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.2);
}

.hero-card {
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
    background: #e9f1f8;
    border-radius: 20px;
    padding: 56px;
    max-width: 520px;
    width: 100%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.hero-card span {
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #6b7280;
}

.hero-card h1 {
    margin-top: 20px;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    color: #0a2540;
}

.hero-card p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.7;
    color: #6b7280;
}

.hero-card a {
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 48px;
    border-radius: 999px;
    background: #0a4c8a;
    color: #ffffff;
    font-weight: 600;
    transition: background 0.3s ease;
}

.hero-card a:hover {
    background: #083b6b;
}

/* =================================================
   FEATURES SECTION (FIGMA GA MOS)
================================================= */

.features-section {
    background: #F2F5FF;
    padding: 56px 0;
    display: space-between;
    justify-content: center;
    align-items: center;
}

.features-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 18px;
}

.feature-icon {
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-icon img {
    width: 40px;
    height: 40px;
}

.feature-text h4 {
    font-size: 22px;
    font-weight: 600;
    color: #0a2540;
    margin: 0;
}

.feature-text p {
    margin-top: 4px;
    font-size: 20px;
    color: #6b7280;
}


/* =========================
   INSPIRATION
========================= */

.inspiration-section {
    background: #f5f7fb;
    padding: 100px 0;
}

.inspiration-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}

.inspiration-header {
    text-align: center;
    margin-bottom: 48px;
}

.inspiration-header h2 {
    font-size: 30px;
    color: #0a2540;
}

.inspiration-header p {
    font-size: 18px;
    color: #6b7280;
}

.inspiration-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.inspiration-card {
    border-radius: 28px 0 0 0 ;
    overflow: hidden;
}

.inspiration-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* =========================
   BEAUTIFY YOUR SPACE
========================= */

.beautify-section {
    background: #F2F5FF;
    padding: 100px 0;
}

.beautify-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 64px;
}

.beautify-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0a2540;
    margin-bottom: 20px;
}

.beautify-content p {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.7;
    max-width: 420px;
    margin-bottom: 32px;
}

.beautify-btn {
    display: inline-block;
    padding: 14px 36px;
    background: #0a4c8a;
    color: #fff;
    border-radius: 999px;
    font-weight: 600;
}

.beautify-image {
    position: relative;
}

.beautify-image img {
    width: 75%;
    border-radius: 28px;
    position: relative;
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

/* green shape */
.beautify-image::after {
    content: '';
    position: absolute;
    right: 25px;
    bottom: 150px;
    width: 280px;
    height: 280px;
    background: #0a7c6a;
    border-radius: 50%;
    z-index: 1;
}




/* =========================
   BROWSE THE RANGE
========================= */

.browse-section {
    background: #ffffff;
    padding: 100px 0;
}

.browse-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}

.browse-header {
    text-align: center;
    margin-bottom: 56px;
}

.browse-header h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0a2540;
    margin-bottom: 12px;
}

.browse-header p {
    font-size: 14px;
    color: #6b7280;
}

.browse-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.browse-card {
    text-align: center;
}

.browse-card img {
    width: 100%;
    border-radius: 24px;
    margin-bottom: 20px;
}

.browse-card h4 {
    font-size: 18px;
    font-weight: 600;
    color: #0a2540;
}
